@model App

@{
}

<div class="form-group row">
  <label asp-for="name" class="col-sm-2 col-form-label">App Name</label>
  <div class="col-sm-10">
    <input asp-for="name" class="form-control" placeholder="App Name" />
  </div>
</div>

<div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>