@model App

@{
  ViewData["Title"] = "Edit One Signal App";
}

<div class="row">
  <div class="col-md-10">
    <h1>Edit App</h1>
  </div>
  <div class="col-md-2">
    <a class="btn btn-link" asp-area="" asp-controller="Apps" asp-action="Index">Back To Apps</a>
  </div>
</div>

<form asp-controller="Apps" asp-action="Edit" method="post">
  @await Html.PartialAsync("_Form")
</form>